<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="component md">
      <h1>Labels</h1>
      <p>Labels allow users to categorize UI objects using descriptive titles and customizable color. They provide a quick way to recognize which category or categories the labeled object belongs. Clicking on a label navigates the user to a filtered list view based on that label.</p>
      <h2>Usage</h2>
      <p>Labels are used to categorize issues, merge requests, and epics. They can be used to filter in list views. Upon hover, a tooltip containing a description of the label will appear.</p>
      <h3>User role labels</h3>
      <p>User role labels are different from standard labels. They indicate the permission level of the user and differ visually. User labels lack color, use grayscale text, and have a border.</p>
      <h2>Demo</h2>
      <p class="todo">Todo: Add live component block with code example</p>
      <h2>Design specifications</h2>
      <p>Color, spacing, dimension, and layout specific information pertaining to this component can be viewed using the following link:</p>
      <p><a href="https://gitlab-org.gitlab.io/gitlab-design/hosted/design-gitlab-specs/labels-spec-previews/">Sketch Measure Preview for labels</a></p>
      <h2>Related patterns</h2>
      <ul>
        <li><a href="/tags">Tags</a></li>
      </ul>
    </div>
  </div>
</template>
